<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expressway.mapper.SysFileMapper">
    <insert id="insertFile" parameterType="com.expressway.entity.SysFile">
        INSERT INTO sys_file (
            file_name,
            file_path,
            file_size,
            file_type,
            upload_by,
            create_time
        ) VALUES (
            #{fileName},
            #{filePath},
            #{fileSize},
            #{fileType},
            #{uploadBy},
            #{createTime}
        )
    </insert>
    
    <select id="selectFileById" parameterType="java.lang.Long" resultType="com.expressway.entity.SysFile">
        SELECT
            id,
            file_name AS fileName,
            file_path AS filePath,
            file_size AS fileSize,
            file_type AS fileType,
            upload_by AS uploadBy,
            create_time AS createTime
        FROM sys_file
        WHERE id = #{id}
    </select>
    
    <select id="selectFileVOById" parameterType="java.lang.Long" resultType="com.expressway.vo.SysFileVO">
        SELECT
            f.id,
            f.file_name AS fileName,
            f.file_path AS filePath,
            f.file_size AS fileSize,
            f.file_type AS fileType,
            f.upload_by AS uploadBy,
            u.name AS uploadByName,
            f.create_time AS createTime
        FROM sys_file f
        LEFT JOIN sys_user u ON f.upload_by = u.id
        WHERE f.id = #{id}
    </select>
    
    <select id="selectFilesByUploadBy" parameterType="java.lang.Long" resultType="com.expressway.vo.SysFileVO">
        SELECT
            f.id,
            f.file_name AS fileName,
            f.file_path AS filePath,
            f.file_size AS fileSize,
            f.file_type AS fileType,
            f.upload_by AS uploadBy,
            u.name AS uploadByName,
            f.create_time AS createTime
        FROM sys_file f
        LEFT JOIN sys_user u ON f.upload_by = u.id
        WHERE f.upload_by = #{uploadBy}
        ORDER BY f.create_time DESC
    </select>
    
    <delete id="deleteFileById" parameterType="java.lang.Long">
        DELETE FROM sys_file WHERE id = #{id}
    </delete>
</mapper>
